extensions:
  basicauth/grafana_cloud:
    client_auth:
      username: "123"
      password: "xd"

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch:
    transform/drop_unneeded_resource_attributes:
      error_mode: ignore
      trace_statements:
        - context: resource
          statements:
            - delete_key(attributes, "k8s.pod.start_time")
            - delete_key(attributes, "os.description")
            - delete_key(attributes, "os.type")
            - delete_key(attributes, "process.command_args")
            - delete_key(attributes, "process.executable_path")
            - delete_key(attributes, "process.pid")
            - delete_key(attributes, "process.runtime.description")
            - delete_key(attributes, "process.runtime.name")
            - delete_key(attributes, "process.runtime.version")
      metric_statements:
        - context: resource
          statements:
            - delete_key(attributes, "k8s.pod.start_time")
            - delete_key(attributes, "os.description")
            - delete_key(attributes, "os.type")
            - delete_key(attributes, "process.command_args")
            - delete_key(attributes, "process.executable_path")
            - delete_key(attributes, "process.pid")
            - delete_key(attributes, "process.runtime.description")
            - delete_key(attributes, "process.runtime.name")
            - delete_key(attributes, "process.runtime.version")
      log_statements:
        - context: resource
          statements:
            - delete_key(attributes, "k8s.pod.start_time")
            - delete_key(attributes, "os.description")
            - delete_key(attributes, "os.type")
            - delete_key(attributes, "process.command_args")
            - delete_key(attributes, "process.executable_path")
            - delete_key(attributes, "process.pid")
            - delete_key(attributes, "process.runtime.description")
            - delete_key(attributes, "process.runtime.name")
            - delete_key(attributes, "process.runtime.version")
    transform/add_resource_attributes_as_metric_attributes:
      error_mode: ignore
      metric_statements:
        - context: datapoint
          statements:
            - set(attributes["deployment.environment"], resource.attributes["deployment.environment"])
            - set(attributes["service.version"], resource.attributes["service.version"])

exporters:
  otlphttp/grafana_cloud:
    endpoint: "https://otlp-gateway-prod-eu-west-2.grafana.net/otlp"
    auth:
      authenticator: basicauth/grafana_cloud

service:
  extensions: [ basicauth/grafana_cloud ]
  pipelines:
    logs:
      receivers: [ otlp ]
      processors: [ transform/drop_unneeded_resource_attributes, batch ]
      exporters: [ otlphttp/grafana_cloud ]
    traces:
      receivers: [ otlp ]
      processors: [ transform/drop_unneeded_resource_attributes, batch ]
      exporters: [ otlphttp/grafana_cloud ]
    metrics:
      receivers: [ otlp ]
      processors: [ transform/drop_unneeded_resource_attributes, transform/add_resource_attributes_as_metric_attributes, batch ]
      exporters: [ otlphttp/grafana_cloud ]
