name: Build and publish apps
permissions:
  contents: read
  packages: write

on:
  workflow_dispatch:
  push:
    branches: ["master", "feature/**", "bugfix/**"]
    tags: ["*.*.*"]

jobs:
  build-and-test:
    name: Build, test and format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          cache: true
          cache-dependency-path: "**/packages.lock.json"

      - name: Restore dependencies
        run: dotnet restore ./src/OffndAt.sln --locked-mode

      - name: Build solution
        run: dotnet build ./src/OffndAt.sln --configuration Release --no-restore

      - name: Run tests
        run: dotnet test ./src/OffndAt.sln --configuration Release --no-restore --no-build --verbosity normal

  prepare-version:
    name: Prepare semantic version
    runs-on: ubuntu-latest
    outputs:
      semVer: ${{ steps.git-version.outputs.semVer }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.1.0
        with:
          versionSpec: "6.3.x"

      - name: Determine version
        id: git-version
        uses: gittools/actions/gitversion/execute@v4.1.0

  api-docker-publish:
    name: Build and publish Docker image for API
    runs-on: ubuntu-latest
    needs: [build-and-test, prepare-version]
    if: github.ref_type == 'tag'
    steps:
      - name: Prepare the package name
        run: echo "PACKAGE_NAME=${GITHUB_REPOSITORY,,}-api" >> ${GITHUB_ENV}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push the image to the registry
        uses: docker/build-push-action@v5
        with:
          push: true
          context: "{{defaultContext}}:src"
          file: ./OffndAt.Services.Api/Dockerfile
          tags: ghcr.io/${{ env.PACKAGE_NAME }}:${{ needs.prepare-version.outputs.semVer }}
          build-args: |
            ApplicationSettings__Version=${{ needs.prepare-version.outputs.semVer }}

  events-worker-docker-publish:
    name: Build and publish Docker image for Events Worker
    runs-on: ubuntu-latest
    needs: [build-and-test, prepare-version]
    if: github.ref_type == 'tag'
    steps:
      - name: Prepare the package name
        run: echo "PACKAGE_NAME=${GITHUB_REPOSITORY,,}-events-worker" >> ${GITHUB_ENV}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push the image to the registry
        uses: docker/build-push-action@v5
        with:
          push: true
          context: "{{defaultContext}}:src"
          file: ./OffndAt.Services.EventsWorker/Dockerfile
          tags: ghcr.io/${{ env.PACKAGE_NAME }}:${{ needs.prepare-version.outputs.semVer }}
          build-args: |
            ApplicationSettings__Version=${{ needs.prepare-version.outputs.semVer }}
